@import '../../styles/variables.scss';
.layout-form {
  background-color: $blue;

  &__wrapper {
    background-color: var(--bs-body-bg);

    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }
}
