@import './variables.scss';

.btn {
  border-radius: unset;
}

.btn__form,
.btn__form:disabled {
  background-color: $yellow;
  border: none;
}

:not(.btn-check) + .btn__form:hover,
.btn__form:first-child:hover,
.btn__form:focus-visible {
  background-color: $yellowDark;
  border: none;
  box-shadow: none;
}

.btn__form:focus-visible {
  box-shadow: $shadow;
}
