@import './variables.scss';

.btn {
  &__primary {
    background-color: $yellow;
    border: none;

    &:disabled {
      background-color: $yellow;
    }

    :not(.btn-check) + &:hover,
    &:first-child:hover,
    &:focus-visible {
      background-color: $yellowDark;
      border: none;
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: $shadow;
    }
  }

  &__secondary {
    background-color: $blue;

    :not(.btn-check) + &:hover,
    &:first-child:hover,
    &:focus-visible {
      background-color: $blueDark;
    }
  }

  &__danger {
    background-color: $red;

    :not(.btn-check) + &:hover,
    &:first-child:hover,
    &:focus-visible {
      background-color: $redDark;
    }
  }

  &__dark {
    background-color: $black;

    :not(.btn-check) + &:hover,
    &:first-child:hover,
    &:focus-visible {
      background-color: $black75Alpha;
    }
  }
}
