@import '../../styles/variables.scss';

.modal {
  display: block;
  background-color: $black75Alpha;

  &__content {
    border-radius: unset;

    @media (min-width: 768px) {
      max-height: 90vh;
      min-width: 700px;
    }
  }

  &__dialog {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__body {
    overflow-y: auto;
  }
}
